// Цвета
$white: #fff;
$black: #000;
$gold: #FFD700;

// Шрифты
$font-main: 'Montserrat', sans-serif;
$font-alt: 'Inter', sans-serif;

// Отступы
$padding-container: 0 150px;
$padding-main-top: 141px;
$padding-main-bottom: 485px;
$padding-footer: 80px 0;
$padding-footer-left: 121px;

// Размеры
$max-width: 1728px;
